@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

@layer base {
	.font-IBM {
		font-family: "IBM Plex Sans", sans-serif;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply font-IBM relative z-1 text-base font-normal -tracking-[0.16px] text-body;
	}
}

@keyframes landingImgUpAndDown {
	0%,
	100% {
		top: 0px;
	}

	50% {
		top: -50px;
	}
}

@keyframes landingRowUpAndDown {
	0%,
	40%,
	60%,
	80%,
	100% {
		transform: translateY(0px);
	}

	50%,
	70% {
		transform: translateY(-15px);
	}
}
